[Desktop Entry]
Version=0.1
Type=Application
Name=OL-GUI
Comment=GUI frontend for Ollama
Exec=$HOME/ol-gui/run.sh
Icon=$HOME/ol-gui/assets/icon.png
Terminal=false
Categories=Utility;Development;
StartupWMClass=OL-GUI
